<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.newlife.fitness.frontend.dao.CommentsDAO">

   <insert id="insertSelective" parameterType="com.newlife.fitness.entity.Comments">
  
       INSERT INTO `comments` (
  
  
  `user_id`,
  `content`,
  `comment_time`,


  `comment_img`,
  `comment_title`
)
VALUES
  (
   
    #{user_id},
    #{content},
    #{comment_time},
  
    #{comment_img},
    #{comment_title}
  );

  
  
  </insert>

  
 
</mapper>